<a href="https://colab.research.google.com/github/artificialrick79/Studiare-AI/blob/Machine-Learning-con-python/1_Label_e_One_Hot_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Per prima cosa importiamo Pandas e Numpy e importiamo il file csv. Impostando **"index_col" a False** l'intestazione del file non viene indicizzata.

In [ ]:
import pandas as pd
import numpy as np

shirts = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/shirts.txt", index_col=False)

In [ ]:
shirts.head()

  taglia  colore  prezzo
0      s  bianco    4.99
1      m  bianco   19.99
2     xl   rosso   12.49
3     xl   verde   14.99
4      s  bianco    9.99

Come vediamo ci sono due variabili "**Categoriche**", dove la "**Taglia**" è una variabile "**Ordinale**" mentre "**Colore**" è una variaibile "**Nominale**"

Per trasformare la "Taglia" in numeri creiamo un dizionario ordinato.

In [ ]:
size_mapping = {"s":0, "m":1, "l":2, "xl":3}

Sostituiamo ora il valore chiave con il contenuto e quindi convertiamo il testo in numeri.

In [ ]:
shirts["taglia"]=shirts["taglia"].map(size_mapping)
shirts.head()

   taglia  colore  prezzo
0       0  bianco    4.99
1       1  bianco   19.99
2       3   rosso   12.49
3       3   verde   14.99
4       0  bianco    9.99

Se invece abbiamo un array Numpy e non un Dataframe di Pandas allora dobbiamo usare "**vectorize**" creandoci noi una funzione di map

Importiamo il file e creiamo un array numpy contenente il dataset utilizzando la proprietà "values"

In [ ]:
shirts = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/shirts.txt", index_col=False)
X = shirts.values

In [ ]:
X[:10]

array([['s', 'bianco', 4.99],
       ['m', 'bianco', 19.99],
       ['xl', 'rosso', 12.49],
       ['xl', 'verde', 14.99],
       ['s', 'bianco', 9.99],
       ['m', 'verde', 9.99],
       ['xl', 'rosso', 13.99]], dtype=object)

Utilizziamo lambda come funzione usa e getta

In [ ]:
fmap = np.vectorize(lambda t:size_mapping[t])
X[:,0] = fmap(X[:,0])

In [ ]:
X

array([[0, 'bianco', 4.99],
       [1, 'bianco', 19.99],
       [3, 'rosso', 12.49],
       [3, 'verde', 14.99],
       [0, 'bianco', 9.99],
       [1, 'verde', 9.99],
       [3, 'rosso', 13.99]], dtype=object)

Nel caso di variabili nominali il metodo è il ONE-HOT-ENCODING che genera tante colonne quante necessarie associando una variabile booleana. In questo caso si usa la funzione get_dummies

In [ ]:
shirts2 = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/shirts.txt", index_col=False)

In [ ]:
shirts2.head()

  taglia  colore  prezzo
0      s  bianco    4.99
1      m  bianco   19.99
2     xl   rosso   12.49
3     xl   verde   14.99
4      s  bianco    9.99

In [ ]:
shirts2 = pd.get_dummies(shirts2, columns=["colore"])

In [ ]:
shirts2.head()

  taglia  prezzo  colore_bianco  colore_rosso  colore_verde
0      s    4.99              1             0             0
1      m   19.99              1             0             0
2     xl   12.49              0             1             0
3     xl   14.99              0             0             1
4      s    9.99              1             0             0

Invece per eseguire il ONE-HOT-ENCODING su array dobbiamo utilizzare SciKit Learn con le funzioni LabelEncoder (per sostituire ogni label con un numero) e OneHotEncoder (per creare le nostre variabili di comodo) e ColumnTransformer che applica le trasformazioni solo a determiante colonne. Passiamo al ColumnTransformer una lista di tuple con dentro:

- un alias per la trasformazione scelto da noi
- La trasformazione da applicare
- Una lista con gli indici delle colonne a cui applicare la trasformazione

Utilizzando il parametro remainder possiamo definire come comportarci con le colonne che non sono state trasformate, il valore di default è "drop" che le rimuove, impostandolo a "passthrough" le aggiungeremo alla matrice senza applicare alcuna trasformazione.

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
X = shirts.values 
transf = ColumnTransformer([('ohe', OneHotEncoder(), [1])], remainder="passthrough")

X = transf.fit_transform(X)

Controlliamo il risultato

In [ ]:
X[:5]

array([[1.0, 0.0, 0.0, 's', 4.99],
       [1.0, 0.0, 0.0, 'm', 19.99],
       [0.0, 1.0, 0.0, 'xl', 12.49],
       [0.0, 0.0, 1.0, 'xl', 14.99],
       [1.0, 0.0, 0.0, 's', 9.99]], dtype=object)