<a href="https://colab.research.google.com/github/artificialrick79/Studiare-AI/blob/Machine-Learning-con-python/ML_Gestire_Dati_Mancanti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
iris_nan = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/iris.data", index_col=None)

Questo dataset contiene dei valori NaN che dobbiamo andare ad eliminare o correggere

In [4]:
iris_nan

     spal_lenght  sepal_width  petal_length  petal_width           class
0            5.1          3.5           1.4          NaN     Iris-setosa
1            4.9          3.0           1.4          0.2     Iris-setosa
2            4.7          3.2           1.3          0.2     Iris-setosa
3            4.6          3.1           1.5          NaN     Iris-setosa
4            5.0          3.6           1.4          0.2     Iris-setosa
..           ...          ...           ...          ...             ...
145          6.7          3.0           5.2          2.3  Iris-virginica
146          6.3          2.5           5.0          1.9  Iris-virginica
147          6.5          3.0           5.2          2.0  Iris-virginica
148          6.2          3.4           5.4          2.3  Iris-virginica
149          5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Creiamo gli array numpy collegati alle classi delle features

In [5]:
Y = iris_nan["class"].values

In [6]:
X = iris_nan.drop("class", axis=1).values

Controlliamo i risultati con uno slice

In [7]:
Y[:10]

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa'], dtype=object)

In [8]:
X[:10]

array([[5.1, 3.5, 1.4, nan],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, nan],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

Una possibilitÃ  Ã¨ rimuovere colonne e righe che riportano valori mancanti NaN. Per eliminare le righe si usa la funzione dropna()

In [9]:
iris_drop = iris_nan.dropna()

Controlliamo il risultato

In [10]:
iris_drop.head()

   spal_lenght  sepal_width  petal_length  petal_width        class
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa
5          5.4          3.9           1.7          0.4  Iris-setosa
6          4.6          3.4           1.4          0.3  Iris-setosa

Invece per rimuovere le colonne si usa dropna() specificando axis=1

In [11]:
iris_drop_col = iris_nan.dropna(axis=1)

In [12]:
iris_drop_col.head()

   spal_lenght  sepal_width  petal_length        class
0          5.1          3.5           1.4  Iris-setosa
1          4.9          3.0           1.4  Iris-setosa
2          4.7          3.2           1.3  Iris-setosa
3          4.6          3.1           1.5  Iris-setosa
4          5.0          3.6           1.4  Iris-setosa

Ad ogni modo non Ã¨ mai un buon approccio eliminare informazioni legati a dati e quindi possiamo riempire i campi mancanti con funzioni come mean, median o mode che rappresentano una stima

Quindi si calcola il mean del dataset e poi si usa la funzione fillna per inserire il valore ottenuto nelle celle NaN

In [13]:
replace_with_mean = iris_nan.mean()
iris_new = iris_nan.fillna(replace_with_mean)

In [14]:
iris_new.head()

   spal_lenght  sepal_width  petal_length  petal_width        class
0          5.1          3.5           1.4     1.212162  Iris-setosa
1          4.9          3.0           1.4     0.200000  Iris-setosa
2          4.7          3.2           1.3     0.200000  Iris-setosa
3          4.6          3.1           1.5     1.212162  Iris-setosa
4          5.0          3.6           1.4     0.200000  Iris-setosa

Se sostituiamo usando la moda (cioÃ¨ l'elemento piÃ¹ frequente) allora ci dobbiamo ricordare che la funzione mode ritorna un dataframe e quindi dobbiamo selezionare solo il primo valore usando "iloc" che ci permette di linee e sezioni per posizione.

In [15]:
replace_with_mean = iris_nan.mode().iloc[0]
iris_new = iris_nan.fillna(replace_with_mean)

In [16]:
iris_new.head()

   spal_lenght  sepal_width  petal_length  petal_width        class
0          5.1          3.5           1.4          0.2  Iris-setosa
1          4.9          3.0           1.4          0.2  Iris-setosa
2          4.7          3.2           1.3          0.2  Iris-setosa
3          4.6          3.1           1.5          0.2  Iris-setosa
4          5.0          3.6           1.4          0.2  Iris-setosa

Se invece dobbiamo sostituire i dati in un array numpy dobbiamo allora utilizzare scikit ed il suo "Imputer"

Creiamo quindi un'istanza di una classe stabilendo la strategia, l'asse e che forma hanno i valori mancanti

In [19]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values="NaN", strategy="mean")

In [20]:
X_imp = imp.fit_transform(X)

ValueError: ignored