<a href="https://colab.research.google.com/github/artificialrick79/Studiare-AI/blob/Machine-Learning-con-python/ML_Manipolare_i_dati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Per prima cosa importiamo Pandas e Numpy e importiamo il file csv impostando index_col a False cosicchè l'intestazione del file non sia indicizzata

In [1]:
import pandas as pd
import numpy as np

shirts = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/shirts.txt", index_col=False)

In [2]:
shirts.head()

  taglia  colore  prezzo
0      s  bianco    4.99
1      m  bianco   19.99
2     xl   rosso   12.49
3     xl   verde   14.99
4      s  bianco    9.99

Creiamo un array numpy contenente il dataset utilizzando la proprietà "values"

Come vediamo ci sono due variabili "Categoriche", dove la taglia è una variabile "Ordinale" mentre colore è una variaibile "Nominale"

Per trasformare la taglia in numeri creiamo un dizionario

In [3]:
size_mapping = {"s":0, "m":1, "l":2, "xl":3}

Sostituiamo ora il valore chiave con il contenuto e quindi riusciamo a convertire testo in numeri

In [4]:
shirts["taglia"]=shirts["taglia"].map(size_mapping)
shirts.head()

   taglia  colore  prezzo
0       0  bianco    4.99
1       1  bianco   19.99
2       3   rosso   12.49
3       3   verde   14.99
4       0  bianco    9.99

Se invece abbiamo un array Numpy e non un Dataframe di Pandas allora dobbiamo usare vectorize creandoci noi una funzione di map

Importiamo il file e creiamo un array numpy contenente il dataset utilizzando la proprietà "values"

In [6]:
shirts = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/shirts.txt", index_col=False)
X = shirts.values

In [ ]:
X[:10]

array([['s', 'bianco', 4.99],
       ['m', 'bianco', 19.99],
       ['xl', 'rosso', 12.49],
       ['xl', 'verde', 14.99],
       ['s', 'bianco', 9.99],
       ['m', 'verde', 9.99],
       ['xl', 'rosso', 13.99]], dtype=object)

utilizziamo lambda come funzione usa e getta

In [7]:
fmap = np.vectorize(lambda t:size_mapping[t])
X[:,0] = fmap(X[:,0])

In [8]:
X

array([[0, 'bianco', 4.99],
       [1, 'bianco', 19.99],
       [3, 'rosso', 12.49],
       [3, 'verde', 14.99],
       [0, 'bianco', 9.99],
       [1, 'verde', 9.99],
       [3, 'rosso', 13.99]], dtype=object)

Nel caso di variabili nominali il metodo è il ONE-HOT-ENCODING che genera tante colonne quante necessarie associando una variabile booleana. In questo caso si usa la funzione get_dummies

In [10]:
shirts2 = pd.read_csv("https://raw.githubusercontent.com/artificialrick79/Studiare-AI/datasets/shirts.txt", index_col=False)

In [11]:
shirts2.head()

  taglia  colore  prezzo
0      s  bianco    4.99
1      m  bianco   19.99
2     xl   rosso   12.49
3     xl   verde   14.99
4      s  bianco    9.99

In [12]:
shirts2 = pd.get_dummies(shirts2, columns=["colore"])

In [13]:
shirts2.head()

  taglia  prezzo  colore_bianco  colore_rosso  colore_verde
0      s    4.99              1             0             0
1      m   19.99              1             0             0
2     xl   12.49              0             1             0
3     xl   14.99              0             0             1
4      s    9.99              1             0             0

Per eseguire il ONE-HOT-ENCODING su array Numpy invece dobbiamo utilizzare SciKit Learn con le funzioni LabelEncoder (per sostituire ogni label con un numero) e OneHotEncoder (per creare le nostre variabili di comodo).

In [14]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

Creiamo oggetti per entrambe classi

In [15]:
le = LabelEncoder()
enc = OneHotEncoder(categorical_features[1])
X[:,1] = le.fit_trasform(X[:,1])

NameError: ignored

Ora applichiamo il OneHotEncoder il cui risultato sarà una matrice sparsa (cioè composta prevalentemente da zeri) e poi trasformiamo il tutto di nuovo in un array

In [16]:
X_sparse = enc.fit_transform(X)
X = X_sparse.toarray()

NameError: ignored